
<!-- <body> -->
    
<!--     <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="public/img/1a.jpg" class="fotete d-block w-100" alt="...">
            <div class="titular carousel-caption d-none d-md-block">
              <h5>EL PODER DE SOLIDRUMS</h5>
              <p>" TODO LO QUE NECESITAS PARA LOGRAR EL SONIDO QUE BUSCAS . "</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="public/img/1c.png" class="fotete d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>LA BUSQUEDA ESTA EN LAS CUERDAS</h5>
              <p>LA MUSICA ENTRA POR LAS CUERDAS Y SALE POR AMPLIFICADORES .</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="public/img/1b.jpg" class="fotete d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>KEEP CALM</h5>
              <p>SONIDO FINO , IDEAL Y JUSTO.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->

      <div class="carrousel">
          <div class="conteCarrousel">

              <div class="itemCarrousel" id="itemCarrousel-1">
                  <div class="itemCarrouselTarjeta">
                      <img src="public/img/1a.jpg" alt="img1">
                  </div>
                  <div class="itemCarrouselArrows">
                      <a href="#itemCarrousel-3">
                          <i class="fas fa-chevron-left"></i>
                      </a>
                      <a href="#itemCarrousel-2">
                          <i class="fas fa-chevron-right"></i>
                      </a>
                  </div>
              </div>
              <div class="itemCarrousel" id="itemCarrousel-2">
                  <div class="itemCarrouselTarjeta">
                    <img src="public/img/1b.jpg" alt="img2">
                  </div>
              <div class="itemCarrouselArrows">
                    <a href="#itemCarrousel-1">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="#itemCarrousel-3">
                        <i class="fas fa-chevron-right"></i>
                    </a>
              </div>
              </div>
              <div class="itemCarrousel" id="itemCarrousel-3">
                  <div class="itemCarrouselTarjeta">
                    <img src="public/img/1c.png" alt="img3">
                  </div>
                  <div class="itemCarrouselArrows">
                      <a href="#itemCarrousel-2">
                          <i class="fas fa-chevron-left"></i>
                      </a>
                      <a href="#itemCarrousel-1">
                          <i class="fas fa-chevron-right"></i>
                      </a>
                  </div>
              </div>

          </div>

          <div class="conteCarrouselController">
              <a href="#itemCarrousel-1">•</a>
              <a href="#itemCarrousel-2">•</a>
              <a href="#itemCarrousel-3">•</a>
          </div>
      </div>

        <h2 id="quienesomo">QUIENES SOMOS:</h2>
        <div class= "somos">
            <div class="historia">
                    
                <h3>NUESTRA HISTORIA</h3>
                <p>A principios del 2020, comienza el proyecto de abrir nuestro primer local de instrumentos musicales, ofeciendo equilibrio en calidad y precio, tanto a estudiantes como a profesionales. Lamentablemente, en Marzo llego el COVID19, el cual hizo que los planes no se llebaran a cabo, demorando la apertura del local, el cual abrio en Julio 2021 con tal éxito repentino, permitiendonos abrir dos locales más.</p>
                <p>En Mayo 2022 abre esta página web. Aquí encontrarás todos los instrumentos musicales que ofresemos en nuestros locales y hacernos pedidos de otros instrumentos que no tengamos, también ponerte en contacto con nosotros para despejarte de cualquier duda o contarnos tus opiniones y sugerencias. </p>
                
            </div>
    
            <div class="mision">
            <h3>MISIÓN Y VISIÓN</h3>
                <p>Nuestra misión es brindar a nuestros clientes la mejor experiencia al adquirir instrumentos musicales, logrando la conformidad con profesionalismo.</p>
                <p>Nuestra vision es convertirnos en la tienda de instrumentos musicales mas grande del país ofreciendo los mejores productos de calidad.</p>
                
            </div>
        </div>
<!--         <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
            crossorigin="anonymous">
        </script> -->


<!-- </body> -->